<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="panel-body">
        <table class="table table-striped" style="margin-left:auto; margin-right: auto; width: 75%; text-align: left">
            <thead>
            <tr>
                <th scope="col">Placa</th>
                <th scope="col">Data Entrada</th>
                <th scope="col">Horário Entrada</th>
                <th sec:authorize="hasAnyRole('ADMIN')">Exibir</th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${carros.empty}">
                <td colspan="2"> No Books Available </td>
            </tr>

            <tr th:each="carro : ${carros}">
                <td th:utext="${carro.placa}"></td>
                <td th:utext="${carro.modelo}"></td>
            </tr>
            </tbody>
        </table>
</body>
</html>