<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
                   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <div class="container my-5">
        <form th:action="@{/admin/home}" method="get">
            <button class="btn btn-md btn-danger btn-block" type="Submit">Voltar</button>
        </form>
        <h3> Finalizar Movimentação</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-8">
                    <form action="#" th:action="@{/movimentacao/finalizar/{id}(id=${movimentacao.id})}" th:object="${movimentacao}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="veiculo" class="col-form-label">Veiculo</label> 
                                <input type="text" th:field="*{veiculo}" class="form-control" id="veiculo" > 
                            </div> 
                            <div class="form-group col-md-8">
                                <label for="data_entrada" class="col-form-label">Data Entrada</label> 
                                <input type="text" th:field="*{data_entrada}" class="form-control" id="data_entrada" > 

                            </div>
                            <div class="form-group col-md-8">
                                <label for="hora_entrada" class="col-form-label">Hora Entrada</label> 
                                <input type="text" th:field="*{hora_entrada}" class="form-control" id="hora_entrada" > 
                            </div>
                            <div class="form-group col-md-8">
                                <label for="data_saida" class="col-form-label">Data de Saída</label> 
                                <input type="text" th:field="*{data_saida}" class="form-control" id="data_saida" > 
                            </div>
                            <div class="form-group col-md-8">
                                <label for="hora_saida" class="col-form-label">Hora Saida</label> 
                                <input type="text" th:field="*{hora_saida}" class="form-control" id="hora_saida" > 
                            </div>
                            <div class="form-group col-md-8">
                                <input type="submit" class="btn btn-primary" value="Finalizar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>