<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
                   xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Entrar</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <form th:action="@{registration}" method="get">
        <button type="submit" class="btn btn-md btn-warning btn-block">Ir para a página de registro</button>
    </form>
    <div class="container">
        <img th:src="@{/images/login.jpg}" alt="Logo" class="img-responsive center-block" width="300" height="300">
        <form th:action="@{/login}" method="post" class="form-signin">
            <h3 class="form-signin-heading" th:text="Bem-vindo"></h3>

            <br />

            <input type="text" name="user_name" id="user_name" placeholder="Nome de Usuário" class="form-control"> <br />
            <input type="password" class="form-control" name="password" id="password" th:placeholder="Senha"> <br />

            <div class="center" th:if="${param.error}">
                <p style="font-size: 20; color: #FF1C19">Nome de usuário ou senha inválidos, verifique</p>
            </div>

            <button type="Submit" class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" th:text="Entrar"></button>
        </form>
    </div>
</body>
</html>